/* SearchBar.css */

.search-bar {
    position: relative;
    width: 100%;
  }
  
  .search-input {
    width: 100%;
    /* padding: 10px; */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}