@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* Welcome Page containers */
.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-grow:1;
    justify-content: center;
    align-items: center;
}

.container-header{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    justify-content: center;
    align-items: center;
}

.container-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    flex-grow: 1;
}

.container-actions{
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 100%;
    flex-grow: 1;
    align-content: center;
    
}

/* Signup Page Styles */

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: #FFFFFF;
    padding: 20px;
}

.signup-header {
    width: 100%;
    text-align: left;
}

.signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 400px;
}

.signup-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 40px 12px 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #FFFFFF;
}

.input-wrapper .icon {
    position: absolute;
    right: 10px;
    color: #AAAAAA;
}

.join-button {
    background-color: #6200EA;
    color: white;
    border: none;
    padding: 15px 0;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
}

.join-button:hover {
    background-color: #3700B3;
}

.signup-footer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.signup-footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.signup-footer a:hover {
    text-decoration: underline;
}

/* Home Page Grid */
.home-container {
    position: relative;
    height: 100vh;
    display:grid;
    grid-template-columns: 244px .8fr .5fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main schedule";
    row-gap: 20px;
    column-gap: 45px;
    background-color: #000000;
}
/* Home Page Grid: HEADER */
.home-header{
    position: relative;
    background-color: #000000;
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-columns: .8fr .5fr;
    column-gap: 45px;
    
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
}

.home-header input {
    border: 0;
    border-radius: 24px;
    padding: .5rem;
    padding-left: 20px;
    background-color: #2b2b2b;

    color: #fff;
    font-size: '14px';
    font-family: 'Source Sans Pro';
    font-weight: 300;
    outline: none;
}

.home-header-button{
    --tw-bg-opacity: 1;
    background-color: rgb(147 51 234 / var(--tw-bg-opacity));
    color:#fff;
    border-radius: 24px;
    max-width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0.5rem 1rem;
}
.home-header-button:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(126 34 206 / var(--tw-bg-opacity));
}
/* Home Page Grid: MAIN */
.home-main {
    background-color: #000000;
    grid-area:main;
    display: grid;
    grid-template-rows: .08fr .11fr .37fr .44fr;
    grid-template-areas: 
        "header"
        "current_session"
        "active_friends"
        "stats_chart";

    row-gap: 8px;
}
/* MAIN GRID AREA: HEADER */

.home-main-header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto; /* Main content and button on the right */
    line-height: 1.2;
}

.home-main-header h2 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    
  }
  
.home-main-header p {
    color: #bbb;
    font-size: .8rem;
  }
  
.home-main-header-button {
    background-color: #540ecc;
    color: #fff;
    border: none;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.home-main-header-button:hover{
    --tw-bg-opacity: 1;
    background-color: #7f51cf;
}
/* MAIN GRID AREA: CURRENT_SESSION */
.home-main-current-session{
    grid-area: current_session;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: .5fr .5fr;
    grid-template-areas: 
    "Title"
    "Location";
    padding-top: 3px;
    align-items: center;
    background-color: #3a3a3a;
    border-radius: 24px;
    color: #fff;
}
.home-main-current-session-title{
    grid-area: Title;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.home-main-current-session-location{
    grid-area: Location;
    display: flex;
    justify-content: center;
    align-self: start;
    line-height: 1;
    padding-bottom: 10px;
}
/* MAIN GRID AREA: ACTIVE_FRIENDS */
.home-main-active-friends{
    grid-area: active_friends;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: .1fr .9fr;
    row-gap: 10px;
    grid-template-areas: 
    "Title"
    "Content";
}
.home-main-active-friends-title{
    grid-area: Title;
    color:white;
}
.home-main-active-friends-content{
    grid-area: Content;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "Friend1"
    "Friend2"
    "Friend3";
    border-radius: 24px;
    background-color: #3a3a3a;
}

/* MAIN GRID AREA: STATS */
.home-main-stats{
    grid-area: stats_chart;
}
/* Home Page Grid: SCHEDULE */
.home-schedule{
    background-color:rgb(9, 9, 9);
    grid-area: schedule;
}


/* Home Page Grid: SIDEBAR */
/* Default Sidebar Width */
:root {
    --nav-narrow-width: 72px;
    --nav-medium-width: 244px;
    --nav-wide-width: 335px;
  }
  
  /* Narrow Sidebar for Smaller Screens */
  @media (max-width: 1199px) {
    .sidebar {
        grid-area: sidebar;
        width: var(--nav-narrow-width);
        background-color: #000000;
        display: flex;
    }
    .sidebar-inner {
        width: var(--nav-narrow-width);
        background-color: #000000;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px;
      }
      .item-label{
        display: none;
      }
  }
  
  /* Wide Sidebar for Larger Screens */
  @media (min-width: 1200px) {
    .sidebar {
        grid-area: sidebar;
        width: var(--nav-medium-width);
        background-color: #000000;
        display: flex;
        border-right: rgb(170, 170, 170, .2) 1px solid;
    }
    .sidebar-inner {
        width: var(--nav-medium-width);
        background-color: #000000;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px;
      }
    .sidebar-item-inner{
        display: inline-flex;
        box-sizing: border-box;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 12px;
    }
    .item-label{
        display: flex;
        align-items: center;
        height: 24px;
        box-sizing: border-box;
        padding-left: 16px;
    }
    .item-label span{
        position: relative;
        display: block;
        font-size: 16px;
    }
    /* When a sidebar item is selected ie. the side panel is open */
    .sidebar.selected{
        grid-area: sidebar;
        width: var(--nav-narrow-width);
        background-color: #000000;
        display: flex;
    }
    
    .sidebar-inner.selected {
        width: var(--nav-narrow-width);
        background-color: #000000;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px;
    }
    .sidebar-inner.selected span{
        display: none;
    }
      
}

.sidebar-menu {
    display: block;
    flex-grow: 1;
    padding-top: 40px;
    margin: 0;
    width: 100%;
  }
  
  .sidebar-item {
    position: relative;
    display: block;
    /* padding-bottom: 10px; */
  }
  .sidebar-item.selected{
    border-width: 1px;
    border-radius: 8px;
  }
  

  .item-icon{
    position: relative;
    align-content: stretch;
    align-items: stretch;
    align-self: auto;
    display: flex;
    justify-content: flex-start;
    max-width: 24px;
  }
  
  .sidebar-item-inner{
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px;
}

  .sidebar-item-link {
    color: #fff;
    display: inline;
    box-sizing: border-box;
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-item:hover {
    background-color: #383838;
    border-radius: 8px;
  }
  
 .sidebar-link p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .8rem;
    margin-top: 2px;
 }